*
{
    background-color: #0082e6;

}

.modif
{
    color: white;
    font-size: 20px;

}

a
{
    color: white;
}

span
{
    color: rgb(138, 245, 129);
}

.oh 
{
    color: white;
    text-align: center;
    font-size: 80px;
}
.gas
{
    color: white;
    text-align: center;
    font-size: 40px;

}

.kenon
{
    color: white;
    font-size: 2rem;
}

ul
{
    color: white;
    font-size: 1rem;
}